<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setlist Generator</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/styles/base.css">
  <script src="../assets/scripts/bundle.js"></script>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">Spotify Setlist Generator</h1>
  <p class="lead">Create playlists of an artists setlist in a few clicks.</p>
  <hr class="my-4">
  <p>Powered by <a href="https://www.spotify.com/uk/">Spotify</a>, <a href="https://www.setlist.fm/">Setlist.fm</a>, and <a href="https://musicbrainz.org/">MusicBrainz</a>.</p>
  <p class="lead" id="login-section">
    <a href="http://localhost:8080/login" class="btn btn-success btn-lg" id="login-button" role="button">Connect to Spotify</a>
  </p>
  <div id="logged-in" class="hidden">
    <h2>Hey, <span id="username"></span>!</h2>
    <div id="search-container">
      <label for="artist">Search for an artist:</label><br>
      <input type="text" name="artist" id="artist">
      <button class="btn btn-primary" id="artist-search-btn">Go!</button>
    </div>
  </div>
</div>
</body>
</html>
