html {
  height: 100%;
  background: #e9ecef;
}

h1, h2, h3, p, span {
  font-family: Roboto, sans-serif;
}

.hidden {
  display: none;
}

#logged-in {
  margin-top: 3rem;
}

#artist-search-btn {
  display: block;
  margin-top: 0.5rem;
}

#artist-results {
  margin-top: 3rem;
}

.link {
  cursor: pointer;
  color: #007bff;
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}

#setlist-results {
  margin-top: 3rem;
}

.artist-setlist-container {
  display: flex;
  flex-direction: row;
  border: 2px green solid;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
}

.display-block {
  display: block;
}

.margin-top {
  margin-top: 1rem;
}
